body{
		padding:20px;
	}
	div{
		border:1px solid;
		padding-top:5px 0px 5px 5px;
		margin:10px;
		background-color:lightgrey;
	}
	div span{
		font-size:20px;
		float:right;
		background-color:lightblue;
		padding:5px 8px 5px 8px;
		border-left:1px solid;
		border-bottom:1px solid;
	}
	div p{
		padding:15px;
		margin-top:20px;
		//color:white;
	}
	#left{
		width:31%;
		float:left;
	}
	#mid{
		width:31%;
		float:left;
	}
	#right{
		width:31%;
		float:left;
	}